In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load CSVs
imdb_movies = pd.read_csv('Z:/Travis/MoviesToWatch/title_data.tsv', delimiter='\t', na_values=['\\N'])
movies_1001 = pd.read_csv('Z:/Travis/MoviesToWatch/movies1001.csv')

Z:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Filter imdb_movies to shorts and movies, add a match_title
imdb_movies = imdb_movies[imdb_movies['titleType'].apply(lambda x: x in ['short','movie'])]
imdb_movies['match_title'] = imdb_movies['primaryTitle'].apply(lambda x: str(x).strip().lower())

In [4]:
# add match title to movies_1001
def format_title(title):
    primary_title = title.split('(')[0].strip()
    end_word = primary_title.split(',')[-1]
    if (end_word.strip() in ['A','An','The']):
        primary_title = primary_title.split(',')[-1] + ' ' + primary_title.split(',')[0]
    return primary_title.strip().lower()

movies_1001['match_title'] = movies_1001['Movie Title'].apply(lambda x: format_title(x))

In [5]:
# manually enter IMDB IDs (multiple matches by title and year)
movies_1001.loc[movies_1001['match_title'] == 'the great train robbery', 'imdb_id'] = 'tt0000439'
movies_1001.loc[movies_1001['match_title'] == 'the wizard of oz', 'imdb_id'] = 'tt0032138'
movies_1001.loc[movies_1001['match_title'] == 'rio grande', 'imdb_id'] = 'tt0042895'
movies_1001.loc[movies_1001['match_title'] == 'high society', 'imdb_id'] = 'tt0049314'
movies_1001.loc[movies_1001['match_title'] == 'the birds', 'imdb_id'] = 'tt0056869'
movies_1001.loc[movies_1001['match_title'] == 'the jungle book', 'imdb_id'] = 'tt0061852'
movies_1001.loc[movies_1001['match_title'] == 'faces', 'imdb_id'] = 'tt0062952'
movies_1001.loc[movies_1001['match_title'] == 'stranger than paradise', 'imdb_id'] = 'tt0088184'
movies_1001.loc[movies_1001['match_title'] == 'jacob\'s ladder', 'imdb_id'] = 'tt0099871'
movies_1001.loc[movies_1001['match_title'] == 'the piano', 'imdb_id'] = 'tt0107822'
movies_1001.loc[movies_1001['match_title'] == 'safe', 'imdb_id'] = 'tt0114323'
movies_1001.loc[movies_1001['match_title'] == 'no man\'s land', 'imdb_id'] = 'tt0283509'
movies_1001.loc[movies_1001['match_title'] == 'crash', 'imdb_id'] = 'tt0375679'
movies_1001.loc[movies_1001['match_title'] == 'the host', 'imdb_id'] = 'tt0468492'
movies_1001.loc[movies_1001['match_title'] == 'babel', 'imdb_id'] = 'tt0449467'
movies_1001.loc[movies_1001['match_title'] == 'volver', 'imdb_id'] = 'tt0441909'
movies_1001.loc[movies_1001['match_title'] == 'avatar', 'imdb_id'] = 'tt0499549'
movies_1001.loc[movies_1001['match_title'] == 'fish tank', 'imdb_id'] = 'tt1232776'
movies_1001.loc[movies_1001['match_title'] == 'monsters', 'imdb_id'] = 'tt1470827'
movies_1001.loc[movies_1001['match_title'] == 'the artist', 'imdb_id'] = 'tt1655442'
movies_1001.loc[movies_1001['match_title'] == 'drive', 'imdb_id'] = 'tt0780504'
movies_1001.loc[movies_1001['match_title'] == 'hugo', 'imdb_id'] = 'tt0970179'
movies_1001.loc[movies_1001['match_title'] == 'shame', 'imdb_id'] = 'tt1723811'
movies_1001.loc[movies_1001['match_title'] == 'bridesmaids', 'imdb_id'] = 'tt1478338'
movies_1001.loc[movies_1001['match_title'] == 'amour', 'imdb_id'] = 'tt1602620'
movies_1001.loc[movies_1001['match_title'] == 'gravity', 'imdb_id'] = 'tt1454468'
movies_1001.loc[movies_1001['match_title'] == 'under the skin', 'imdb_id'] = 'tt1441395'
movies_1001.loc[movies_1001['match_title'] == 'boyhood', 'imdb_id'] = 'tt1065073'
movies_1001.loc[movies_1001['match_title'] == 'whiplash', 'imdb_id'] = 'tt2582802'
movies_1001.loc[movies_1001['match_title'] == 'the theory of everything', 'imdb_id'] = 'tt2980516'
movies_1001.loc[movies_1001['match_title'] == 'robocop', 'imdb_id'] = 'tt0093870'
movies_1001.loc[movies_1001['match_title'] == 'the blue angel', 'imdb_id'] = 'tt0020697'
movies_1001.loc[movies_1001['match_title'] == 'earth', 'imdb_id'] = 'tt0021571'
movies_1001.loc[movies_1001['match_title'] == 'alice', 'imdb_id'] = 'tt0095715'
movies_1001.loc[movies_1001['match_title'] == 'scream', 'imdb_id'] = 'tt0117571'
movies_1001.loc[movies_1001['match_title'] == 'fireworks', 'imdb_id'] = 'tt0119250'
movies_1001.loc[movies_1001['match_title'] == 'hero', 'imdb_id'] = 'tt0299977'
movies_1001.loc[movies_1001['match_title'] == 'irreversible', 'imdb_id'] = 'tt0290673'

# manually enter IMDB IDs (awkward title formatting)
movies_1001.loc[movies_1001['Movie Title'] == 'Good, the Bad, and the Ugly, The (Il buono, il bruto, il cattivo)', 'imdb_id'] = 'tt0060196'
movies_1001.loc[movies_1001['Movie Title'] == 'Good, the Bad, the Weird, The (Joheunnom nabbeunnom isanghannom)', 'imdb_id'] = 'tt0901487'
movies_1001.loc[movies_1001['match_title'] == 'birdman: or', 'imdb_id'] = 'tt2562232'

In [6]:
# 1135 remaining
unmatched_movies_1001 = movies_1001[pd.isnull(movies_1001['imdb_id'])]
len(unmatched_movies_1001)

1135

In [7]:
initial_match = pd.merge(unmatched_movies_1001,imdb_movies, how='left', left_on=['match_title','Year'], right_on=['match_title','startYear'])
initial_match = initial_match[pd.notnull(initial_match['tconst'])][['match_title','tconst']]

In [8]:
movies_1001 = pd.merge(movies_1001,initial_match,how='left', on='match_title')
movies_1001['imdb_id'] = movies_1001['imdb_id'].fillna(movies_1001['tconst'])
movies_1001 = movies_1001[['Movie Title','Seen','Year','match_title','imdb_id']]

In [9]:
# 132 remaining
unmatched_movies_1001 = movies_1001[pd.isnull(movies_1001['imdb_id'])]
len(unmatched_movies_1001)

132

In [10]:
second_match = pd.merge(unmatched_movies_1001,imdb_movies, how='left', left_on=['match_title'], right_on=['match_title'])
second_match = second_match[np.abs(second_match['Year'] - second_match['startYear']) < 2][['match_title','tconst']]
second_match.head()

                      match_title     tconst
6       the smiling madame beudet  tt0013626
9                          strike  tt0015361
29                    the general  tt0017925
52               un chien andalou  tt0020530
63  the bitter tea of general yen  tt0023814

In [11]:
movies_1001 = pd.merge(movies_1001, second_match, how='left', on='match_title')
movies_1001['imdb_id'] = movies_1001['imdb_id'].fillna(movies_1001['tconst'])
movies_1001 = movies_1001[['Movie Title','Seen','Year','match_title','imdb_id']]

In [12]:
# 93 remaining
unmatched_movies_1001 = movies_1001[pd.isnull(movies_1001['imdb_id'])]
len(unmatched_movies_1001)

93

In [13]:
unmatched_movies_1001.to_csv('Z:/Travis/MoviesToWatch/unmatched_movies.csv')

In [18]:
movies_1001.loc[movies_1001['match_title'] == 'intolerance', 'imdb_id'] = 'tt0006864'
movies_1001.loc[movies_1001['match_title'] == 'dr. mabuse parts 1 and 2', 'imdb_id'] = 'tt0013086'
movies_1001.loc[movies_1001['match_title'] == 'haxan', 'imdb_id'] = 'tt0013257'
movies_1001.loc[movies_1001['match_title'] == 'sherlock, jr.', 'imdb_id'] = 'tt0015324'
movies_1001.loc[movies_1001['match_title'] == 'sunrise: a song of two humans', 'imdb_id'] = 'tt0018455'
movies_1001.loc[movies_1001['match_title'] == 'october', 'imdb_id'] = 'tt0018217'
movies_1001.loc[movies_1001['match_title'] == 'the man with the movie camera', 'imdb_id'] = 'tt0019760'
movies_1001.loc[movies_1001['match_title'] == 'a nous la liberte', 'imdb_id'] = 'tt0022599'
movies_1001.loc[movies_1001['match_title'] == 'tabu', 'imdb_id'] = 'tt0022458'
movies_1001.loc[movies_1001['match_title'] == 'scarface: the shame of a nation', 'imdb_id'] = 'tt0023427'
movies_1001.loc[movies_1001['match_title'] == 'pepe le moko', 'imdb_id'] = 'tt0029453'
movies_1001.loc[movies_1001['match_title'] == 'grand illusion', 'imdb_id'] = 'tt0028950'
movies_1001.loc[movies_1001['match_title'] == 'olympia part 1: festival of the nations', 'imdb_id'] = 'tt0030522'
movies_1001.loc[movies_1001['match_title'] == 'olympia part 2: festival of beauty', 'imdb_id'] = 'tt0030523'
movies_1001.loc[movies_1001['match_title'] == 'daybreak', 'imdb_id'] = 'tt0031514'
movies_1001.loc[movies_1001['match_title'] == 'i know where i\'m going!', 'imdb_id'] = 'tt0037800'
movies_1001.loc[movies_1001['match_title'] == 'the battle of san pietro', 'imdb_id'] = 'tt0036630'
movies_1001.loc[movies_1001['match_title'] == 'secret beyond the door', 'imdb_id'] = 'tt0040766'
movies_1001.loc[movies_1001['match_title'] == 'whisky galore!', 'imdb_id'] = 'tt0042040'
movies_1001.loc[movies_1001['match_title'] == 'sunset blvd.', 'imdb_id'] = 'tt0043014'
movies_1001.loc[movies_1001['match_title'] == 'los olvidados', 'imdb_id'] = 'tt0042804'
movies_1001.loc[movies_1001['match_title'] == 'europa \'51', 'imdb_id'] = 'tt0043511'
movies_1001.loc[movies_1001['match_title'] == 'umberto d', 'imdb_id'] = 'tt0045274'
movies_1001.loc[movies_1001['match_title'] == 'mr. hulot\'s holiday', 'imdb_id'] = 'tt0046487'
movies_1001.loc[movies_1001['match_title'] == 'the earrings of madame de…', 'imdb_id'] = 'tt0046022'
movies_1001.loc[movies_1001['match_title'] == 'lola montes', 'imdb_id'] = 'tt0048308'
movies_1001.loc[movies_1001['match_title'] == 'nights of cabiria', 'imdb_id'] = 'tt0050783'
movies_1001.loc[movies_1001['match_title'] == 'la jetee', 'imdb_id'] = 'tt0056119'
movies_1001.loc[movies_1001['match_title'] == 'dog star man', 'imdb_id'] = 'tt5896468'
movies_1001.loc[movies_1001['match_title'] == '8 1/2', 'imdb_id'] = 'tt0056801'
movies_1001.loc[movies_1001['match_title'] == 'mediterranee', 'imdb_id'] = 'tt0197719'
movies_1001.loc[movies_1001['match_title'] == 'dr. strangelove, or how i learned to stop worrying and love the bomb', 'imdb_id'] = 'tt0057012'
movies_1001.loc[movies_1001['match_title'] == 'the war game', 'imdb_id'] = 'tt0059894'
movies_1001.loc[movies_1001['match_title'] == 'the golden thread', 'imdb_id'] = 'tt0056537'
movies_1001.loc[movies_1001['match_title'] == 'masculin feminin', 'imdb_id'] = 'tt0060675'
movies_1001.loc[movies_1001['match_title'] == 'week end', 'imdb_id'] = 'tt0062480'
movies_1001.loc[movies_1001['match_title'] == 'le samourai', 'imdb_id'] = 'tt0062229'
movies_1001.loc[movies_1001['match_title'] == 'marketa lazarova', 'imdb_id'] = 'tt0063278'
movies_1001.loc[movies_1001['match_title'] == 'a touch of zen', 'imdb_id'] = 'tt0064451'
movies_1001.loc[movies_1001['match_title'] == 'lucia', 'imdb_id'] = 'tt0064609'
movies_1001.loc[movies_1001['match_title'] == 'the spider\'s strategem', 'imdb_id'] = 'tt0066413'
movies_1001.loc[movies_1001['match_title'] == 'm*a*s*h', 'imdb_id'] = 'tt0066026'
movies_1001.loc[movies_1001['match_title'] == 'mccabe and mrs. miller', 'imdb_id'] = 'tt0067411'
movies_1001.loc[movies_1001['match_title'] == 'the sorrow and the pity', 'imdb_id'] = 'tt0066904'
movies_1001.loc[movies_1001['match_title'] == 'willy wonka and the chocolate factory', 'imdb_id'] = 'tt0067992'
movies_1001.loc[movies_1001['match_title'] == 'aguirre: the wrath of god', 'imdb_id'] = 'tt0068182'
movies_1001.loc[movies_1001['match_title'] == 'cries and whispers', 'imdb_id'] = 'tt0069467'
movies_1001.loc[movies_1001['match_title'] == 'superfly', 'imdb_id'] = 'tt0069332'
movies_1001.loc[movies_1001['match_title'] == 'pat garrett and billy the kid', 'imdb_id'] = 'tt0070518'
movies_1001.loc[movies_1001['match_title'] == 'the texas chainsaw massacre', 'imdb_id'] = 'tt0072271'
movies_1001.loc[movies_1001['match_title'] == 'jeanne dielman, 23 quai du commerce, 1080 bruxelles', 'imdb_id'] = 'tt0073198'
movies_1001.loc[movies_1001['match_title'] == 'the nail of brightness', 'imdb_id'] = 'tt0073363'
movies_1001.loc[movies_1001['match_title'] == 'salo, or the 120 days of sodom', 'imdb_id'] = 'tt0073650'
movies_1001.loc[movies_1001['match_title'] == 'star wars', 'imdb_id'] = 'tt0076759'
movies_1001.loc[movies_1001['match_title'] == 'e.t.: the extra-terrestrial', 'imdb_id'] = 'tt0083866'
movies_1001.loc[movies_1001['match_title'] == 'too early, too late', 'imdb_id'] = 'tt0083230'
movies_1001.loc[movies_1001['match_title'] == 'star wars: episode vi - the return of the jedi', 'imdb_id'] = 'tt0086190'
movies_1001.loc[movies_1001['match_title'] == 'the fourth man', 'imdb_id'] = 'tt0086543'
movies_1001.loc[movies_1001['match_title'] == 'the last battle', 'imdb_id'] = 'tt0085426'
movies_1001.loc[movies_1001['match_title'] == 'a time to live and a time to die', 'imdb_id'] = 'tt0090185'
movies_1001.loc[movies_1001['match_title'] == 'withnail and i', 'imdb_id'] = 'tt0094336'
movies_1001.loc[movies_1001['match_title'] == 'hotel terminus', 'imdb_id'] = 'tt0095341'
movies_1001.loc[movies_1001['match_title'] == 'naked gun, the: from the files of police squad!', 'imdb_id'] = 'tt0095705'
movies_1001.loc[movies_1001['match_title'] == 'who framed roger rabbit?', 'imdb_id'] = 'tt0096438'
movies_1001.loc[movies_1001['match_title'] == 'the decalogue', 'imdb_id'] = 'tt0092337'
movies_1001.loc[movies_1001['match_title'] == 'when harry met sally…', 'imdb_id'] = 'tt0098635'
movies_1001.loc[movies_1001['match_title'] == 'the cook', 'imdb_id'] = 'tt0097108'
movies_1001.loc[movies_1001['match_title'] == 'say anything', 'imdb_id'] = 'tt0098258'
movies_1001.loc[movies_1001['match_title'] == 'henry: portrait of a serial killer', 'imdb_id'] = 'tt0099763'
movies_1001.loc[movies_1001['match_title'] == 'terminator 2: judgment day', 'imdb_id'] = 'tt0103064'
movies_1001.loc[movies_1001['match_title'] == 'thirty-two short films about glenn gould', 'imdb_id'] = 'tt0108328'
movies_1001.loc[movies_1001['match_title'] == 'the adventures of priscilla', 'imdb_id'] = 'tt0109045'
movies_1001.loc[movies_1001['match_title'] == 'dear diary', 'imdb_id'] = 'tt0109382'
movies_1001.loc[movies_1001['match_title'] == 'the kingdom', 'imdb_id'] = 'tt0108906'
movies_1001.loc[movies_1001['match_title'] == 'secrets and lies', 'imdb_id'] = 'tt0117589'
movies_1001.loc[movies_1001['match_title'] == 'fast, cheap and out of control', 'imdb_id'] = 'tt0119107'
movies_1001.loc[movies_1001['match_title'] == 'tetsuo', 'imdb_id'] = 'tt0096251'
movies_1001.loc[movies_1001['match_title'] == 'time regained', 'imdb_id'] = 'tt0189142'
movies_1001.loc[movies_1001['match_title'] == 'lord of the rings, the: the fellowship of the ring', 'imdb_id'] = 'tt0120737'
movies_1001.loc[movies_1001['match_title'] == 'lord of the rings, the: the two towers', 'imdb_id'] = 'tt0167261'
movies_1001.loc[movies_1001['match_title'] == 'lord of the rings, the: the return of the king', 'imdb_id'] = 'tt0167260'
movies_1001.loc[movies_1001['match_title'] == 'amelie', 'imdb_id'] = 'tt0211915'
movies_1001.loc[movies_1001['match_title'] == 'what time is it over there?', 'imdb_id'] = 'tt0269746'
movies_1001.loc[movies_1001['match_title'] == 'y tu mama tambien', 'imdb_id'] = 'tt0245574'
movies_1001.loc[movies_1001['match_title'] == 'a.i.: artificial intelligence', 'imdb_id'] = 'tt0212720'
movies_1001.loc[movies_1001['match_title'] == 'goodbye lenin!', 'imdb_id'] = 'tt0301357'
movies_1001.loc[movies_1001['match_title'] == 'moolaade', 'imdb_id'] = 'tt0416991'
movies_1001.loc[movies_1001['match_title'] == 'cache', 'imdb_id'] = 'tt0387898'
movies_1001.loc[movies_1001['match_title'] == 'wall-e', 'imdb_id'] = 'tt0910970'
movies_1001.loc[movies_1001['match_title'] == 'anvil! the story of anvil', 'imdb_id'] = 'tt1157605'
movies_1001.loc[movies_1001['match_title'] == 'precious: based on the novel "push" by sapphire', 'imdb_id'] = 'tt0929632'
movies_1001.loc[movies_1001['match_title'] == 'les miserables', 'imdb_id'] = 'tt1707386'
movies_1001.loc[movies_1001['match_title'] == 'blancanieves', 'imdb_id'] = 'tt1854513'

In [19]:
movies_1001[pd.isnull(movies_1001['imdb_id'])]

Empty DataFrame
Columns: [Movie Title, Seen, Year, match_title, imdb_id]
Index: []

In [21]:
movies_1001.tail()

,Movie Title,Seen,Year,match_title,imdb_id
1172,Guardians of the Galaxy,1,2014,guardians of the galaxy,tt2015381
1173,Birdman: Or (The Unexpected Virtue of Ignorance),0,2014,birdman: or,tt2562232
1174,Whiplash,1,2014,whiplash,tt2582802
1175,"Theory of Everything, The",0,2014,the theory of everything,tt2980516
1176,"Grand Budapest Hotel, The",1,2014,the grand budapest hotel,tt2278388

In [25]:
additions = pd.DataFrame([])

Movie Title    Trip to the Moon, A (La voyage dans la lune)
Seen                                                      0
Year                                                   1902
match_title                              a trip to the moon
imdb_id                                           tt0000417
Name: 0, dtype: object